In [1]:
with open("istiklal.txt", "r", encoding = "utf-8") as file :
    lines = file.readlines()

In [2]:
lines

['Korkma, sönmez bu şafaklarda yüzen al sancak;\n',
 'Sönmeden yurdumun üstünde tüten en son ocak.\n',
 'O benim milletimin yıldızıdır, parlayacak;\n',
 'O benimdir, o benim milletimindir ancak.\n',
 '\n',
 'Çatma, kurban olayım, çehreni ey nazlı hilal!\n',
 'Kahraman ırkıma bir gül! Ne bu şiddet, bu celal?\n',
 'Sana olmaz dökülen kanlarımız sonra helal...\n',
 "Hakkıdır, hakk'a tapan, milletimin istiklal!\n",
 '\n',
 'Ben ezelden beridir hür yaşadım, hür yaşarım.\n',
 'Hangi çılgın bana zincir vuracakmış? Şaşarım!\n',
 'Kükremiş sel gibiyim, bendimi çiğner, aşarım.\n',
 'Yırtarım dağları, enginlere sığmam, taşarım.\n',
 '\n',
 'Garbın afakını sarmışsa çelik zırhlı duvar,\n',
 'Benim iman dolu göğsüm gibi serhaddim var.\n',
 'Ulusun, korkma! Nasıl böyle bir imanı boğar,\n',
 "'Medeniyet!' dediğin tek dişi kalmış canavar?\n",
 '\n',
 'Arkadaş! Yurduma alçakları uğratma, sakın.\n',
 'Siper et gövdeni, dursun bu hayasızca akın.\n',
 "Doğacaktır sana va'dettigi günler hakk'ın...\n",
 'Kim bilir, belki yarın, belki yarından da yakın.\n',
 '\n',
 "Bastığın yerleri 'toprak!' diyerek geçme, tanı:\n",
 'Düşün altında binlerce kefensiz yatanı.\n',
 'Sen şehit oğlusun, incitme, yazıktır, atanı:\n',
 'Verme, dünyaları alsan da, bu cennet vatanı.\n',
 '\n',
 'Kim bu cennet vatanın uğruna olmaz ki feda?\n',
 'Şuheda fışkıracak toprağı sıksan, şuheda!\n',
 'Canı, cananı, bütün varımı alsın da hüda,\n',
 'Etmesin tek vatanımdan beni dünyada cüda.\n',
 '\n',
 'Ruhumun senden, ilahi, şudur ancak emeli:\n',
 'Değmesin mabedimin göğsüne namahrem eli.\n',
 'Bu ezanlar-ki şahadetleri dinin temeli,\n',
 'Ebedi yurdumun üstünde benim inlemeli.\n',
 '\n']

In [3]:
with open("istiklal.txt", "a", encoding="utf-8") as f :
    for i in lines :
        if i == "\n" :
            pass
        else :
            f.write(i)
            
with open("istiklal.txt", "r", encoding="utf-8") as f :
    print("\n", f.read())

 Korkma, sönmez bu şafaklarda yüzen al sancak;
Sönmeden yurdumun üstünde tüten en son ocak.
O benim milletimin yıldızıdır, parlayacak;
O benimdir, o benim milletimindir ancak.

Çatma, kurban olayım, çehreni ey nazlı hilal!
Kahraman ırkıma bir gül! Ne bu şiddet, bu celal?
Sana olmaz dökülen kanlarımız sonra helal...
Hakkıdır, hakk'a tapan, milletimin istiklal!

Ben ezelden beridir hür yaşadım, hür yaşarım.
Hangi çılgın bana zincir vuracakmış? Şaşarım!
Kükremiş sel gibiyim, bendimi çiğner, aşarım.
Yırtarım dağları, enginlere sığmam, taşarım.

Garbın afakını sarmışsa çelik zırhlı duvar,
Benim iman dolu göğsüm gibi serhaddim var.
Ulusun, korkma! Nasıl böyle bir imanı boğar,
'Medeniyet!' dediğin tek dişi kalmış canavar?

Arkadaş! Yurduma alçakları uğratma, sakın.
Siper et gövdeni, dursun bu hayasızca akın.
Doğacaktır sana va'dettigi günler hakk'ın...
Kim bilir, belki yarın, belki yarından da yakın.

Bastığın yerleri 'toprak!' diyerek geçme, tanı:
Düşün altında binlerce kefensiz yatanı.
Sen şehit oğlusun, incitme, yazıktır, atanı:
Verme, dünyaları alsan da, bu cennet vatanı.

Kim bu cennet vatanın uğruna olmaz ki feda?
Şuheda fışkıracak toprağı sıksan, şuheda!
Canı, cananı, bütün varımı alsın da hüda,
Etmesin tek vatanımdan beni dünyada cüda.

Ruhumun senden, ilahi, şudur ancak emeli:
Değmesin mabedimin göğsüne namahrem eli.
Bu ezanlar-ki şahadetleri dinin temeli,
Ebedi yurdumun üstünde benim inlemeli.

Korkma, sönmez bu şafaklarda yüzen al sancak;
Sönmeden yurdumun üstünde tüten en son ocak.
O benim milletimin yıldızıdır, parlayacak;
O benimdir, o benim milletimindir ancak.
Çatma, kurban olayım, çehreni ey nazlı hilal!
Kahraman ırkıma bir gül! Ne bu şiddet, bu celal?
Sana olmaz dökülen kanlarımız sonra helal...
Hakkıdır, hakk'a tapan, milletimin istiklal!
Ben ezelden beridir hür yaşadım, hür yaşarım.
Hangi çılgın bana zincir vuracakmış? Şaşarım!
Kükremiş sel gibiyim, bendimi çiğner, aşarım.
Yırtarım dağları, enginlere sığmam, taşarım.
Garbın afakını sarmışsa çelik zırhlı duvar,
Benim iman dolu göğsüm gibi serhaddim var.
Ulusun, korkma! Nasıl böyle bir imanı boğar,
'Medeniyet!' dediğin tek dişi kalmış canavar?
Arkadaş! Yurduma alçakları uğratma, sakın.
Siper et gövdeni, dursun bu hayasızca akın.
Doğacaktır sana va'dettigi günler hakk'ın...
Kim bilir, belki yarın, belki yarından da yakın.
Bastığın yerleri 'toprak!' diyerek geçme, tanı:
Düşün altında binlerce kefensiz yatanı.
Sen şehit oğlusun, incitme, yazıktır, atanı:
Verme, dünyaları alsan da, bu cennet vatanı.
Kim bu cennet vatanın uğruna olmaz ki feda?
Şuheda fışkıracak toprağı sıksan, şuheda!
Canı, cananı, bütün varımı alsın da hüda,
Etmesin tek vatanımdan beni dünyada cüda.
Ruhumun senden, ilahi, şudur ancak emeli:
Değmesin mabedimin göğsüne namahrem eli.
Bu ezanlar-ki şahadetleri dinin temeli,
Ebedi yurdumun üstünde benim inlemeli.

In [5]:
with open("fruits.csv", "r", encoding = "utf-8") as ff :
    print(ff.read())

no,fruit,amount
1,Banana,4 lb
2,Orange,5 lb
3,Apple,2 lb
4,Strawberry,6 lb
5,Cherry,3 lb

In [8]:
with open("people.csv", "r", encoding = "utf-8") as fil :
    print(fil.read())

no,fruit,amount
1,Banana,4 lb
2,Orange,5 lb
3,Apple,2 lb
4,Strawberry,6 lb
5,Cherry,3 lb

In [9]:
import csv

In [10]:
with open("fruits.csv", "r", newline = "", encoding = "utf-8") as file :
    csv_rows = csv.reader(file)
    for row in csv_rows :
        print(row)

['no', 'fruit', 'amount']
['1', 'Banana', '4 lb']
['2', 'Orange', '5 lb']
['3', 'Apple', '2 lb']
['4', 'Strawberry', '6 lb']
['5', 'Cherry', '3 lb']

In [12]:
with open("fruits.csv", "r", newline = "", encoding = "utf-8") as file :
    csv_rows = csv.reader(file, delimiter = ":") # virgül harici bir şey le böyle çıktı verir
    for row in csv_rows :
        print(row)

['no,fruit,amount']
['1,Banana,4 lb']
['2,Orange,5 lb']
['3,Apple,2 lb']
['4,Strawberry,6 lb']
['5,Cherry,3 lb']

In [16]:
import pandas as pd

In [19]:
df = pd.read_csv("titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [21]:
bayanlar = df[df["Sex"] == "female"]
bayanlar

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [22]:
bayanlar.to_csv("titanic_bayanlar.csv", index = False)

In [24]:
vefat = df[df["Survived"] == 1]
vefat

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [25]:
vefat.to_csv("titanic_vefat.csv", index = False)

In [30]:
df.groupby("Sex")["Survived"].mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [29]:
df.groupby("Pclass")["Survived"].mean()

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [55]:
import pandas as plotting

In [56]:
import pandas as matplotlib

In [71]:
import importlib

In [57]:
df.plot("Pclass")

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [45]:
import pandas as plotting

In [44]:
import smtplib

In [75]:
server = smtplib.SMTP("smtp.gmail.com", 587)
server.starttls()
psswo = "38473847"

server.login("frkks47@gmail.com", psswo)

message = "\n merhaba faruk bu mesaj pythondan atıldı."
server.sendmail("frkks47@gmail.com", "ygmrks47@gmail.com", message)

server.quit()

SMTPAuthenticationError: (535, b'5.7.8 Username and Password not accepted. Learn more at\n5.7.8  https://support.google.com/mail/?p=BadCredentials b6sm333392wmq.45 - gsmtp')